In [4]:
import pandas as pd
emp=pd.read_csv("Employee.csv")
empdf=pd.DataFrame(emp)
print(empdf)
print('\n')
dept=pd.read_csv('Department.csv')
deptdf=pd.DataFrame(dept)
print(deptdf)

    empno   ename        job     mgr    hiredate   sal    comm  deptno
0    7369   SMITH      CLERK  7902.0  13-06-1993   800     0.0      20
1    7499   ALLEN   SALESMAN  7698.0  15-08-1998  1600   300.0      30
2    7521    WARD   SALESMAN  7698.0  26-03-1996  1250   500.0      30
3    7566   JONES    MANAGER  7839.0  31-10-1995  2975     NaN      20
4    7698   BLAKE    MANAGER  7839.0  11-06-1992  2850     NaN      30
5    7782   CLARK    MANAGER  7839.0  14-05-1993  2450     NaN      10
6    7788   SCOTT    ANALYST  7566.0  05-03-1996  3000     NaN      20
7    7839    KING  PRESIDENT     NaN  09-06-1990  5000     0.0      10
8    7844  TURNER   SALESMAN  7698.0  04-06-1995  1500     0.0      30
9    7876   ADAMS      CLERK  7788.0  04-06-1999  1100     NaN      20
10   7900   JAMES      CLERK  7698.0  23-06-2000   950     NaN      30
11   7934  MILLER      CLERK  7782.0  21-01-2000  1300     NaN      10
12   7902    FORD    ANALYST  7566.0  05-12-1997  3000     NaN      20
13   7654  MARTIN   SALESMAN  7698.0  05-12-1998  1250  1400.0      30


   deptno       dname  location
0      10  Accounting  New York
1      20    Research    Dallas
2      30       Sales   Chicago
3      40  Operations    Boston

In [14]:
empdf.info()
empdf['sal'].describe()
empdf.head()
x=empdf[['ename','job','mgr']]
print(x)
print(x.ndim)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 8 columns):
empno       14 non-null int64
ename       14 non-null object
job         14 non-null object
mgr         13 non-null float64
hiredate    14 non-null object
sal         14 non-null int64
comm        6 non-null float64
deptno      14 non-null int64
dtypes: float64(2), int64(3), object(3)
memory usage: 976.0+ bytes
     ename        job     mgr
0    SMITH      CLERK  7902.0
1    ALLEN   SALESMAN  7698.0
2     WARD   SALESMAN  7698.0
3    JONES    MANAGER  7839.0
4    BLAKE    MANAGER  7839.0
5    CLARK    MANAGER  7839.0
6    SCOTT    ANALYST  7566.0
7     KING  PRESIDENT     NaN
8   TURNER   SALESMAN  7698.0
9    ADAMS      CLERK  7788.0
10   JAMES      CLERK  7698.0
11  MILLER      CLERK  7782.0
12    FORD    ANALYST  7566.0
13  MARTIN   SALESMAN  7698.0
2

In [15]:
#1 row filtering
tempdf=empdf.loc[empdf["deptno"]==30]
print(tempdf)

    empno   ename       job     mgr    hiredate   sal    comm  deptno
1    7499   ALLEN  SALESMAN  7698.0  15-08-1998  1600   300.0      30
2    7521    WARD  SALESMAN  7698.0  26-03-1996  1250   500.0      30
4    7698   BLAKE   MANAGER  7839.0  11-06-1992  2850     NaN      30
8    7844  TURNER  SALESMAN  7698.0  04-06-1995  1500     0.0      30
10   7900   JAMES     CLERK  7698.0  23-06-2000   950     NaN      30
13   7654  MARTIN  SALESMAN  7698.0  05-12-1998  1250  1400.0      30

In [17]:
#2
tempdf1=empdf.loc[(empdf["sal"]>700) & (empdf["deptno"]==30)]
print(tempdf1[["ename","sal","deptno"]])

     ename   sal  deptno
1    ALLEN  1600      30
2     WARD  1250      30
4    BLAKE  2850      30
8   TURNER  1500      30
10   JAMES   950      30
13  MARTIN  1250      30

In [23]:
arr=[10,20]
tempdf2=empdf.loc[empdf["deptno"].isin(arr)]
print(tempdf2[["ename","sal","deptno"]])

     ename   sal  deptno
0    SMITH   800      20
3    JONES  2975      20
5    CLARK  2450      10
6    SCOTT  3000      20
7     KING  5000      10
9    ADAMS  1100      20
11  MILLER  1300      10
12    FORD  3000      20

In [25]:
import numpy as np
grpemp=empdf.groupby(["deptno"])
for d,group in grpemp: #d is the keyword grpemp is the group
    print("the dept is:",d)
    print("the group is:",group)
    print("the name is:",group["ename"])
cnt=empdf.groupby(["deptno"])
print("the count is:",cnt["deptno"].agg(np.count_nonzero))
print("the sum is:",cnt["sal"].agg(np.sum))

the dept is: 10
the group is:     empno   ename        job     mgr    hiredate   sal  comm  deptno
5    7782   CLARK    MANAGER  7839.0  14-05-1993  2450   NaN      10
7    7839    KING  PRESIDENT     NaN  09-06-1990  5000   0.0      10
11   7934  MILLER      CLERK  7782.0  21-01-2000  1300   NaN      10
the name is: 5      CLARK
7       KING
11    MILLER
Name: ename, dtype: object
the dept is: 20
the group is:     empno  ename      job     mgr    hiredate   sal  comm  deptno
0    7369  SMITH    CLERK  7902.0  13-06-1993   800   0.0      20
3    7566  JONES  MANAGER  7839.0  31-10-1995  2975   NaN      20
6    7788  SCOTT  ANALYST  7566.0  05-03-1996  3000   NaN      20
9    7876  ADAMS    CLERK  7788.0  04-06-1999  1100   NaN      20
12   7902   FORD  ANALYST  7566.0  05-12-1997  3000   NaN      20
the name is: 0     SMITH
3     JONES
6     SCOTT
9     ADAMS
12     FORD
Name: ename, dtype: object
the dept is: 30
the group is:     empno   ename       job     mgr    hiredate   sal    comm  deptno
1    7499   ALLEN  SALESMAN  7698.0  15-08-1998  1600   300.0      30
2    7521    WARD  SALESMAN  7698.0  26-03-1996  1250   500.0      30
4    7698   BLAKE   MANAGER  7839.0  11-06-1992  2850     NaN      30
8    7844  TURNER  SALESMAN  7698.0  04-06-1995  1500     0.0      30
10   7900   JAMES     CLERK  7698.0  23-06-2000   950     NaN      30
13   7654  MARTIN  SALESMAN  7698.0  05-12-1998  1250  1400.0      30
the name is: 1      ALLEN
2       WARD
4      BLAKE
8     TURNER
10     JAMES
13    MARTIN
Name: ename, dtype: object
the count is: deptno
10    3
20    5
30    6
Name: deptno, dtype: int64
the sum is: deptno
10     8750
20    10875
30     9400
Name: sal, dtype: int64