In [ ]:
#        DAY-6

In [3]:
import numpy as np
import pandas as pd

#Series demonstration
#series is single labeled
ser1=pd.Series([1,2,3])
print("the series is:\n",ser1)

the series is:
 0    1
1    2
2    3
dtype: int64

In [7]:
#series from nd arrayb with default int index
arr1=np.array([1,2,3])
ser2=pd.Series(arr1)
print("the nd array is:\n",ser2)

the nd array is:
 0    1
1    2
2    3
dtype: int32

In [6]:
#series from nd array with user defined index
arr2=np.array([1,2,3])
ser3=pd.Series(arr2,index=['a','b','c'])
print("the nd array is:\n",ser3)

the nd array is:
 a    1
b    2
c    3
dtype: int32

In [8]:
#series from dict
dict1={'a':10,'b':20,'c':30}
ser3=pd.Series(dict1)
print("series from dict in same order:\n",ser3)

series from dict in same order:
 a    10
b    20
c    30
dtype: int64

In [9]:
#changing the sequence
dict1={'a':10,'b':20,'c':30}
ser4=pd.Series(dict1,index=['b','a','c'])
print("series in dict in user defined order:\n",ser4)

series in dict in user defined order:
 b    20
a    10
c    30
dtype: int64

In [11]:
#missing index in dict is filled with Nan value(nan-not a number)
dict1={'a':10,'b':20,'c':30}
ser5=pd.Series(dict1,index=['b','a','c','d'])
print("series from dictionary in user defined order",ser5) #the nan value will upgrade the dtype from int to float

series from dictionary in user defined order b    20.0
a    10.0
c    30.0
d     NaN
dtype: float64

In [12]:
#series from scalar,index is mandatory
ser6=pd.Series(6,index=['a','b','c'])
print(ser6)

a    6
b    6
c    6
dtype: int64

In [15]:
#accessing elements in series
arr3=np.arange(0,4)
ser7=pd.Series(arr3,index=['a','b','c','d'])
print("2nd element in the series ",ser7[1])
#last 3 elements
print("last 3 elements",ser7[-3:])
#access with data labels
print("access with labels\n",ser7[["b","c"]])

2nd element in the series  1
last 3 elements b    1
c    2
d    3
dtype: int32
access with labels
 b    1
c    2
dtype: int32

In [17]:
#dataframe demonstration

#create an empty dataframe
df1=pd.DataFrame()
print("empty df:",df1)

empty df: Empty DataFrame
Columns: []
Index: []

In [18]:
#create df from single list with default column names
list1=[1,2,3,4]
df2=pd.DataFrame(list1)
print(df2)

   0
0  1
1  2
2  3
3  4

In [19]:
#create df from lists with default column names
list2=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
df3=pd.DataFrame(list2)
print(df3)

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [2]:
import pandas as pd
#create df from list of lists with default column names
list3=[['sachin',10000],['msd',20000],['virat',5000]]
df4=pd.DataFrame(list3,columns=['cricketer','runs'])
print(df4)
print(df4.dtypes)
df4.info()
df4["cricketer"].describe()
df4["runs"].describe()

  cricketer   runs
0    sachin  10000
1       msd  20000
2     virat   5000
cricketer    object
runs          int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
cricketer    3 non-null object
runs         3 non-null int64
dtypes: int64(1), object(1)
memory usage: 128.0+ bytes

count        3.000000
mean     11666.666667
std       7637.626158
min       5000.000000
25%       7500.000000
50%      10000.000000
75%      15000.000000
max      20000.000000
Name: runs, dtype: float64

In [4]:
#create a df from dict of ndarrays/lists
dict1={"name":['sachin','sourav','sachin'],"runs":[10000,20000,40000]}
df5=pd.DataFrame(dict1)
print("df from dict:\n",df5)

#index df from above
dict1={"name":['sachin','sourav','sachin'],"runs":[10000,20000,40000]}
df5=pd.DataFrame(dict1,index=["rank1","rank2","rank3"])
print("df from dict list:\n",df5)

df from dict:
      name   runs
0  sachin  10000
1  sourav  20000
2  sachin  40000
df from dict list:
          name   runs
rank1  sachin  10000
rank2  sourav  20000
rank3  sachin  40000

In [7]:
#create a df from list of dict
list3=[{"name":"sachin","run":20000},{"name":"sachin","run":20000,"address":"mumbai"}]
df6=pd.DataFrame(list3)
print(df6)

  address    name    run
0     NaN  sachin  20000
1  mumbai  sachin  20000

In [5]:
import pandas as pd
#create a df from list of dict
list4=[{"a":1,"b":2},{"a":4,"b":5,"c":10}]
df7=pd.DataFrame(list4)
print(df7)
df8=pd.DataFrame(list4,columns=['a','d'])
print(df8)

   a  b     c
0  1  2   NaN
1  4  5  10.0
   a   d
0  1 NaN
1  4 NaN

In [6]:
#selecting columns
print("Selecting: \n",df8[["a","d"]])

Selecting:
    a   d
0  1 NaN
1  4 NaN

In [7]:
#add new columns
import numpy as np
import pandas as pd
data={"one": pd.Series([1,2,3],index=['a','b','c']),
     "two": pd.Series([4,5,6],index=['a','b','c'])}
df8=pd.DataFrame(data)
print(df8)
df8["three"]=pd.Series([10,11,12],index=['a','b','c'])
print(df8)
df8["four"]=df8["one"]+df8["three"]
print("df after adding column:\n",df8)

   one  two
a    1    4
b    2    5
c    3    6
   one  two  three
a    1    4     10
b    2    5     11
c    3    6     12
df after adding column:
    one  two  three  four
a    1    4     10    11
b    2    5     11    13
c    3    6     12    15

In [10]:
#add new columns with existing columns
df8["five"]=df8["two"]+df8["one"]
print("df after adding column:\n",df8)

df after adding column:
    one  two  three  four  five
a    1    4     10    11     5
b    2    5     11    13     7
c    3    6     12    15     9

In [ ]:
#               DAY-7

In [11]:
#rename a column

df8.rename(columns={'one':'ONE','two':'TWO','three':'THREE','four':'FOUR','five':'FIVE'},inplace=True)
print(df8)

   ONE  TWO  THREE  FOUR  FIVE
a    1    4     10    11     5
b    2    5     11    13     7
c    3    6     12    15     9

In [12]:
#delete a column
print("Deleting the third column: \n")
del df8["THREE"]
print("df after deletion:\n",df8)

Deleting the third column:

df after deletion:
    ONE  TWO  FOUR  FIVE
a    1    4    11     5
b    2    5    13     7
c    3    6    15     9

In [13]:
#Row Selection
print("The second row:\n",df8.loc["b":"c"])

The second row:
    ONE  TWO  FOUR  FIVE
b    2    5    13     7
c    3    6    15     9

In [14]:
#INDEX BASED
#select only rows
print(df8.iloc[0:3])
#selecting rows and colummns
print(df8.iloc[[1,2],[1,2]])
#slicing operator
print(df8.iloc[1:2,0:2])
print(df8.iloc[0:2,[1,3]])
#label based
#print(df8.loc['a':'c','one':'four'])
#print(df8.loc[['a':'b'],['one':'four']])
#print(df8.loc[['a':'c',['one':'four']])

   ONE  TWO  FOUR  FIVE
a    1    4    11     5
b    2    5    13     7
c    3    6    15     9
   TWO  FOUR
b    5    13
c    6    15
   ONE  TWO
b    2    5
   TWO  FIVE
a    4     5
b    5     7

In [18]:
#append row
tempdf=pd.DataFrame([[99,98,97],[78,76,91]],columns=["ONE","TWO","FOUR"])
df8=df8.append(tempdf)
print("After appending two rows: \n",df8)

After appending two rows:
    FIVE  FOUR  ONE  TWO
c   9.0    15    3    6
0   NaN    97   99   98
1   NaN    91   78   76
0   NaN    97   99   98
1   NaN    91   78   76

In [16]:
#Deletion of row
df8=df8.drop("a")
df8=df8.drop(df8.index[0])
print(df8)

   FIVE  FOUR  ONE  TWO
c   9.0    15    3    6
0   NaN    97   99   98
1   NaN    91   78   76

In [17]:
#SIze
print("the length of the data frame is:\n",df8.size)
print(df8.head(5))
print(df8.tail(3))

the length of the data frame is:
 12
   FIVE  FOUR  ONE  TWO
c   9.0    15    3    6
0   NaN    97   99   98
1   NaN    91   78   76
   FIVE  FOUR  ONE  TWO
c   9.0    15    3    6
0   NaN    97   99   98
1   NaN    91   78   76