In [2]:
import numpy as np
import pandas as pd
df=pd.read_csv('Purchase.csv')
cdf=pd.DataFrame(df)
cdf.head(15)

     User ID  Gender  Age  EstimatedSalary  Purchased
0   15566689  Female   35            57000          0
1   15569641  Female   58            95000          1
2   15570769  Female   26            80000          0
3   15570932    Male   34           115000          0
4   15571059  Female   33            41000          0
5   15573452  Female   21            16000          0
6   15573926    Male   40            71000          1
7   15574305    Male   35            53000          0
8   15574372  Female   58            47000          1
9   15575002  Female   35            60000          0
10  15575247  Female   48           131000          1
11  15575694    Male   35            73000          0
12  15576219    Male   41            45000          0
13  15577178  Female   22            63000          0
14  15577514    Male   43           129000          1

In [4]:
#separate the data
X=df.drop(['User ID','Purchased'],axis=1)
Y=df['Purchased']

#convert labels to numbers for input variable
from sklearn.preprocessing import LabelEncoder
le_Gender=LabelEncoder()
#add the le_Gender columns in input var df
X['Gender_n']=le_Gender.fit_transform(X['Gender'])
print(X.head())

   Gender  Age  EstimatedSalary  Gender_n
0  Female   35            57000         0
1  Female   58            95000         0
2  Female   26            80000         0
3    Male   34           115000         1
4  Female   33            41000         0

In [9]:
#drop the original gender column
X.drop('Gender',axis=1,inplace=True)

In [10]:
#spliting data in train & test set
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=4)

In [12]:
#function to perform training using entropy
from sklearn.tree import DecisionTreeClassifier
classifier_entropy=DecisionTreeClassifier(criterion='entropy',random_state=100,max_depth=3)
#create the model
classifier_entropy.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [13]:
#make prediction
y_pred=classifier_entropy.predict(X_test)
print(y_pred)

[0 0 0 0 0 1 0 1 0 1 0 0 1 0 0 1 0 0 0 1 1 1 1 0 0 0 1 0 0 0 0 1 0 1 0 0 0
 1 0 0 1 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 1 1 0 0 0 1 0 1 0 0 0 0 1 0 0 1 1 0
 1 0 1 0 1 0 0 1 1]

In [14]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(Y_test,y_pred))

[[75  5]
 [ 6 34]]

In [15]:
#check accuracy
from sklearn.metrics import accuracy_score
print("Accuracy is:",accuracy_score(Y_test,y_pred)*100)

Accuracy is: 90.83333333333333