In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv('Headbrain.csv')
print(data.shape)
data.head()

(237, 4)

   Gender  Age Range  Head size  Brain Weights
0       1          1       4512           1530
1       1          1       3738           1297
2       1          1       4261           1335
3       1          1       3777           1282
4       1          1       4177           1590

In [8]:
x=data['Head size'].values
y=data['Brain Weights'].values
xm=np.mean(x)
ym=np.mean(y)
print(xm,ym)
size=len(data['Head size'])
for  i in range(size):
    sum1=sum1+(x[i]-xm)*(y[i]-ym)
    sum2=sum2+(x[i]-xm)**2  
m=sum1/sum2
print(m)

c=ym-m*xm
print(c)
for i in x:
    yp=m*x+c
z=abs(sum(yp-ym))
print(z)
rs=z/(y_sum**2)
print(rs)

3633.9915611814345 1282.873417721519
0.26419087240743555
322.8060168517371
1.0686562745831907e-11

NameError: name 'y_sum' is not defined

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv('Headbrain.csv')
#z=data.head()
x1=np.mean(data['Head size'])
print(x1)
y1=np.mean(data['Brain Weights'])
print(y1)
sum1=0
sum2=0
x=data['Head size']
y=data['Brain Weights']
size=len(data['Head size'])
for  i in range(size):
    sum1=sum1+(x[i]-x1)*(y[i]-y1)
    sum2=sum2+(x[i]-x1)**2
m=sum1/sum2
print(m)
c=y1-m*x1
print(c)
lis=[]
for z in range(size):
        yp=np.array(m*x[z]+c)
        lis.append(yp)
data['predict y']=lis
print(data)
nu=0
de=0
for z in range(size):
    nu=nu+((lis[z]-y1)**2)
    de=de+((y[z]-y1)**2)
r=nu/de
print(r)

3633.9915611814345
1282.873417721519
0.26342933948939945
325.57342104944223
     Gender  Age Range  Head size  Brain Weights           predict y
0         1          1       4512           1530  1514.1666008256125
1         1          1       3738           1297  1310.2722920608173
2         1          1       4261           1335  1448.0458366137732
3         1          1       3777           1282   1320.546036300904
4         1          1       4177           1590  1425.9177720966638
5         1          1       3585           1300  1269.9676031189392
6         1          1       3785           1400  1322.6534710168191
7         1          1       3559           1255   1263.118440292215
8         1          1       3613           1355  1277.3436246246424
9         1          1       3982           1375   1374.549050896231
10        1          1       3443           1340  1232.5606369114446
11        1          1       3993           1380  1377.4467736306142
12        1          1       3640           1355  1284.4562167908562
13        1          1       4208           1522  1434.0840816208351
14        1          1       3832           1208   1335.034649972821
15        1          1       3876           1405  1346.6255409103546
16        1          1       3497           1358   1246.785821243872
17        1          1       3466           1292  1238.6195117197008
18        1          1       3095           1340  1140.8872267691336
19        1          1       4424           1400  1490.9848189505453
20        1          1       3878           1357  1347.1523995893333
21        1          1       4046           1287  1391.4085286235525
22        1          1       3804           1275  1327.6586284671178
23        1          1       3710           1270  1302.8962705551141
24        1          1       4747           1635  1576.0724956056215
25        1          1       4423           1505   1490.721389611056
26        1          1       4036           1490  1388.7742352286584
27        1          1       4022           1485  1385.0862244758068
28        1          1       3454           1310  1235.4583596458278
29        1          1       4175           1420   1425.390913417685
..      ...        ...        ...            ...                 ...
207       2          2       3995           1296   1377.973632309593
208       2          2       3318           1175  1199.6319694752697
209       2          2       2720            955  1042.1012244606086
210       2          2       2937           1070  1099.2653911298084
211       2          2       3580           1320  1268.6504564214922
212       2          2       2939           1060  1099.7922498087873
213       2          2       2989           1130   1112.963716783257
214       2          2       3586           1250  1270.2310324584287
215       2          2       3156           1225  1156.9564164779867
216       2          2       3246           1180  1180.6650570320328
217       2          2       3170           1178  1160.6444272308386
218       2          2       3268           1142  1186.4605025007995
219       2          2       3389           1130  1218.3354525790169
220       2          2       3381           1185  1216.2280178631017
221       2          2       2864           1012  1080.0350493470823
222       2          2       3740           1280   1310.799150739796
223       2          2       3479           1103   1242.044093133063
224       2          2       3647           1408   1286.300222167282
225       2          2       3716           1300  1304.4768465920506
226       2          2       3284           1246    1190.67537193263
227       2          2       4204           1380  1433.0303642628776
228       2          2       3735           1350  1309.4820040423492
229       2          2       3218           1060  1173.2890355263298
230       2          2       3685           1350   1296.310537067879
231       2          2       3704           1220  1301.3156945181777
232       2          2       3214           1110   1172.235318168372
233       2          2       3394           1215  1219.6525992764641
234       2          2       3233           1104  1177.2404756186706
235       2          2       3352           1170   1208.588567017909
236       2          2       3391           1120  1218.8623112579958

[237 rows x 5 columns]
0.6393117199570001

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split

df=pd.read_csv('Headbrain.csv')
df.head()

   Gender  Age Range  Head size  Brain Weights
0       1          1       4512           1530
1       1          1       3738           1297
2       1          1       4261           1335
3       1          1       3777           1282
4       1          1       4177           1590

In [14]:
x=df['Head size'].values
print(x.shape)
print(type(size))
m=len(x)
x=x.reshape(m,-1)
print(x.shape)
y=df['Brain Weights'].values
y=y.reshape(m,-1)

(237,)
<class 'int'>
(237, 1)

In [15]:
#creating a learner(regmodel)

regmodel=linear_model.LinearRegression()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=4)
regmodel.fit(x_train,y_train)   #.fit is used for creating a target function
a=regmodel.predict(x_test)      #predict is used for test set
print(a[4])
print(y_test[4])
r2=regmodel.score(x,y)         #
print(r2)

[1229.02194904]
[1235]
0.6389640869366903