In [3]:
import pandas as pd
emp=pd.read_csv("Employee.csv")
empdf=pd.DataFrame(emp)
print(empdf)
print('\n')
dept=pd.read_csv('Department.csv')
deptdf=pd.DataFrame(dept)
print(deptdf)
tempdf=empdf.loc[empdf["job"]=="CLERKS"]
print(tempdf)

    empno   ename        job     mgr    hiredate   sal    comm  deptno
0    7369   SMITH      CLERK  7902.0  13-06-1993   800     0.0      20
1    7499   ALLEN   SALESMAN  7698.0  15-08-1998  1600   300.0      30
2    7521    WARD   SALESMAN  7698.0  26-03-1996  1250   500.0      30
3    7566   JONES    MANAGER  7839.0  31-10-1995  2975     NaN      20
4    7698   BLAKE    MANAGER  7839.0  11-06-1992  2850     NaN      30
5    7782   CLARK    MANAGER  7839.0  14-05-1993  2450     NaN      10
6    7788   SCOTT    ANALYST  7566.0  05-03-1996  3000     NaN      20
7    7839    KING  PRESIDENT     NaN  09-06-1990  5000     0.0      10
8    7844  TURNER   SALESMAN  7698.0  04-06-1995  1500     0.0      30
9    7876   ADAMS      CLERK  7788.0  04-06-1999  1100     NaN      20
10   7900   JAMES      CLERK  7698.0  23-06-2000   950     NaN      30
11   7934  MILLER      CLERK  7782.0  21-01-2000  1300     NaN      10
12   7902    FORD    ANALYST  7566.0  05-12-1997  3000     NaN      20
13   7654  MARTIN   SALESMAN  7698.0  05-12-1998  1250  1400.0      30


   deptno       dname  location
0      10  Accounting  New York
1      20    Research    Dallas
2      30       Sales   Chicago
3      40  Operations    Boston
Empty DataFrame
Columns: [empno, ename, job, mgr, hiredate, sal, comm, deptno]
Index: []

In [31]:
#1.List the employee name,employee no. & dept no. of all clerks

tempdf=empdf.loc[empdf["job"]=="CLERK"]
print(tempdf[["ename","empno","deptno"]])

     ename  empno  deptno
0    SMITH   7369      20
9    ADAMS   7876      20
10   JAMES   7900      30
11  MILLER   7934      10

In [30]:
#2.Find the dept no. & employee name whose dept no. is greater than 20

tempdf=empdf.loc[empdf["deptno"]==30]
print(tempdf[["ename","deptno"]])

     ename  deptno
1    ALLEN      30
2     WARD      30
4    BLAKE      30
8   TURNER      30
10   JAMES      30
13  MARTIN      30

In [29]:
#3.Find the employee whose commission is greater than 30% of their salaries

tempdf=empdf.loc[empdf["comm"]>(empdf["sal"]*0.3)]
print(tempdf[["ename","empno","deptno"]])

     ename  empno  deptno
2     WARD   7521      30
13  MARTIN   7654      30

In [12]:
#4.Find the employee name,job,salary who work(s) in dept no. 20 & who earn(s) more than 2000

tempdf=empdf.loc[(empdf["deptno"]==20) & (empdf["sal"]>2000)]
print(tempdf[["ename","job","sal"]])

    ename      job   sal
3   JONES  MANAGER  2975
6   SCOTT  ANALYST  3000
12   FORD  ANALYST  3000

In [43]:
#5.Find all salesman in dept no. 30 whose salary is greater than 1500

tempdf=empdf.loc[(empdf["deptno"]==30) & (empdf["sal"]>1500) & (empdf["job"]=="SALESMAN")]
print(tempdf[["ename","empno","sal"]])

   ename  empno   sal
1  ALLEN   7499  1600

In [51]:
#6.Find all employee names whose designation is either manager or president

tempdf=empdf.loc[(empdf["job"]=="MANAGER")|(empdf["job"]=="PRESIDENT")]
print(tempdf[["ename","job","empno","deptno"]])

   ename        job  empno  deptno
3  JONES    MANAGER   7566      20
4  BLAKE    MANAGER   7698      30
5  CLARK    MANAGER   7782      10
7   KING  PRESIDENT   7839      10

In [4]:
#7.Find all managers who are not in dept no. 30

tempdf=empdf.loc[(empdf["job"]=="MANAGER") & (empdf["deptno"]!=30)]
print(tempdf[["ename","job","empno","deptno"]])

   ename      job  empno  deptno
3  JONES  MANAGER   7566      20
5  CLARK  MANAGER   7782      10

In [62]:
#8.Find the details of all managers(in any dept) & clerks in dept no 20

tempdf=empdf.loc[((empdf["deptno"]==20) & (empdf["job"]=="CLERK")) | (empdf["job"]=="MANAGER")]
print(tempdf[["ename","empno","sal","job"]])

   ename  empno   sal      job
0  SMITH   7369   800    CLERK
3  JONES   7566  2975  MANAGER
4  BLAKE   7698  2850  MANAGER
5  CLARK   7782  2450  MANAGER
9  ADAMS   7876  1100    CLERK

In [10]:
#9.Find the employees who don't receive commission

tempdf=empdf.loc[(empdf["comm"]==0.0)|(empdf["comm"]=="NaN")]
print(tempdf[["ename","empno","comm"]])

    ename  empno  comm
0   SMITH   7369   0.0
7    KING   7839   0.0
8  TURNER   7844   0.0

In [21]:
#10.Display the highest,lowest,sum,average salary for each job

import numpy as np
grpemp=empdf.groupby(["job"])
for j,group in grpemp:
    print("\nthe job is:",j)
    print("\nthe group is:\n",group)
    print("\nthe names are:\n",group["ename"])
cnt=empdf.groupby(["job"])
print("the count is:",cnt["job"].agg(np.count_nonzero))
print("\nThe highest is:",cnt["sal"].agg(np.max))
print("\nThe lowest is:",cnt["sal"].agg(np.min))
print("\nThe sum is:",cnt["sal"].agg(np.sum))
print("\nThe average is:",cnt["sal"].agg(np.average))

the job is: ANALYST

the group is:
     empno  ename      job     mgr    hiredate   sal  comm  deptno
6    7788  SCOTT  ANALYST  7566.0  05-03-1996  3000   NaN      20
12   7902   FORD  ANALYST  7566.0  05-12-1997  3000   NaN      20

the names are:
 6     SCOTT
12     FORD
Name: ename, dtype: object

the job is: CLERK

the group is:
     empno   ename    job     mgr    hiredate   sal  comm  deptno
0    7369   SMITH  CLERK  7902.0  13-06-1993   800   0.0      20
9    7876   ADAMS  CLERK  7788.0  04-06-1999  1100   NaN      20
10   7900   JAMES  CLERK  7698.0  23-06-2000   950   NaN      30
11   7934  MILLER  CLERK  7782.0  21-01-2000  1300   NaN      10

the names are:
 0      SMITH
9      ADAMS
10     JAMES
11    MILLER
Name: ename, dtype: object

the job is: MANAGER

the group is:
    empno  ename      job     mgr    hiredate   sal  comm  deptno
3   7566  JONES  MANAGER  7839.0  31-10-1995  2975   NaN      20
4   7698  BLAKE  MANAGER  7839.0  11-06-1992  2850   NaN      30
5   7782  CLARK  MANAGER  7839.0  14-05-1993  2450   NaN      10

the names are:
 3    JONES
4    BLAKE
5    CLARK
Name: ename, dtype: object

the job is: PRESIDENT

the group is:
    empno ename        job  mgr    hiredate   sal  comm  deptno
7   7839  KING  PRESIDENT  NaN  09-06-1990  5000   0.0      10

the names are:
 7    KING
Name: ename, dtype: object

the job is: SALESMAN

the group is:
     empno   ename       job     mgr    hiredate   sal    comm  deptno
1    7499   ALLEN  SALESMAN  7698.0  15-08-1998  1600   300.0      30
2    7521    WARD  SALESMAN  7698.0  26-03-1996  1250   500.0      30
8    7844  TURNER  SALESMAN  7698.0  04-06-1995  1500     0.0      30
13   7654  MARTIN  SALESMAN  7698.0  05-12-1998  1250  1400.0      30

the names are:
 1      ALLEN
2       WARD
8     TURNER
13    MARTIN
Name: ename, dtype: object
the count is: job
ANALYST      2
CLERK        4
MANAGER      3
PRESIDENT    1
SALESMAN     4
Name: job, dtype: int64

The highest is: job
ANALYST      3000
CLERK        1300
MANAGER      2975
PRESIDENT    5000
SALESMAN     1600
Name: sal, dtype: int64

The lowest is: job
ANALYST      3000
CLERK         800
MANAGER      2450
PRESIDENT    5000
SALESMAN     1250
Name: sal, dtype: int64

The sum is: job
ANALYST      6000
CLERK        4150
MANAGER      8275
PRESIDENT    5000
SALESMAN     5600
Name: sal, dtype: int64

The average is: job
ANALYST      3000.000000
CLERK        1037.500000
MANAGER      2758.333333
PRESIDENT    5000.000000
SALESMAN     1400.000000
Name: sal, dtype: float64